body {
    background-color: #E8E8E8;
    color: #333333;
    font-size: 1.0em;
    text-align: center;
}

.main {
    width: 60%;
    position: relative;
    left: 20%;
}

h1 {
    font-size: 2em;
    color: #355C7D;
}

h2 {
    font-size: 1.5em;
    color: #6C5B7B;
}

.favouriteGame {
    font-size: 1.0em;
    color: #1a1a1a;
}

p {
    font-size: 1.0em;
}

strong, i {
    color: #F67280;
}

ul li {
    list-style-type: none;
}

a, a:link, a:visited, a:active {
    color: #F67280;
    text-decoration: none;
}

a:hover {
    color: #F8B195;
}

ol li {
    text-align: left;
}