body {
    background-color: #E8E8E8;
    color: #333333;
    font-size: 30px;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #355C7D;
}

h2 {
    font-size: 1.5em;
    color: #6C5B7B;
}

.favouriteGame {
    font-size: 0.8em;
    color: #1a1a1a;
}

p {
    font-size: 0.7em;
}

strong, i {
    color: #F67280;
}

ul, li {
    list-style-type: none;
}